<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Plants</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <header>
        <h1>All Plants</h1>
    </header>
    <nav>
        <a href="/plants/new">Add New Plant</a>
    </nav>
    <ul>
        <% plants.forEach(plant => { %>
            <li>
                <a href="/plants/<%= plant._id %>"><%= plant.name %></a> - <%= plant.description %>
                <div class="text-right">
                    <a href="/plants/<%= plant._id %>/edit">Edit</a>
                    <form action="/plants/<%= plant._id %>?_method=DELETE" method="POST" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </li>
        <% }); %>
    </ul>
</div>
</body>
</html>
